
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
 
}

.profile-card {
  background-color: #171717;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.925);
  text-align: left;
  padding: 130px 30px;

   
}

.profile-header .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.profile-header h1 {
  margin-bottom: 5px;
  color: #ff9e43;
  text-align: center;
}

.kk  a {
  color: #ff9e43;
}

 h2 a {
  color: #f2961d;
}

h2 {
  color: #ffffff;
}

.profile-header .title {
  color: #777;
  font-size: 14px;
  margin-bottom: 5px;
}

.profile-header .location {
  color: #aaa;
  font-size: 12px;
}

.profile-stats {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.profile-stats div h3 {
  color: #ffffff;
  margin-bottom: 5px;
}

.profile-stats div p {
  color: #777;
  font-size: 14px;
}

.profile-actions .btn {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.profile-actions .follow {
  background-color: #f7a325;
  color: #fff;
}

.profile-actions .message {
  background-color: #fff;
  color: #f49440;
  border: 1px solid #f2961d;
}

.profile-actions .btn:hover {
  opacity: 0.9;
  text-align: center;

}

.profile-actions .btn a {
  color: #fff;

}



.profile-actions .btn:hover a {
  color: #fff;
}
.profile-social a {
  margin: 0 10px;
  color: #f0720c;
  font-size: 20px;
  transition: color 0.3s;
}

.profile-social a:hover {
  color: #ef7808;
}
