
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: #151515;
}


header {
  width: 100%;
  padding: 20px;
  background: transparent; 
  color: rgba(230, 224, 224, 0.92);
  position: relative; 
  top: 0;
  left: 0;
    backdrop-filter: blur(10px);

}

header h1 {
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.868);
  text-decoration: none;
  color: rgba(255, 255, 255, 0.895);
  margin-right: 20px;
}


header h1, header nav a {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
  text-decoration: none;
  color: rgba(25, 25, 25, 0.815);
  margin-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.post{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1a1919;
  color: #ffffff;
  background-image: url("project_01_img/post.jpg");
}


.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 1rem;
  gap: 2rem;
}

.cards {
  background-color: #fffefe;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  transition: transform 0.2s;
}

.cards:hover {
  transform: translateY(-5px);
}

.cards img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.cards h2 {
  margin: 0 1rem;
  font-size: 0.9rem;
  color: #a5a9ad;
}




.heart-container {
  margin-left: 10px;
  margin-top: 15px;
  --heart-color: rgb(202, 21, 72);
  position: relative;
  width: 50px;
  height: 50px;
  transition: .3s;
}

.heart-container .checkbox {
  position: absolute;
  
  width: 50%;
  height: 50%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.heart-container .svg-container {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-container .svg-outline,
        .heart-container .svg-filled {
  fill: var(--heart-color);
  position: absolute;
}

.heart-container .svg-filled {
  animation: keyframes-svg-filled 1s;
  display: none;
}

.heart-container .svg-celebrate {
  position: absolute;
  animation: keyframes-svg-celebrate .5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--heart-color);
  fill: var(--heart-color);
  stroke-width: 2px;
}

.heart-container .checkbox:checked~.svg-container .svg-filled {
  display: block
}

.heart-container .checkbox:checked~.svg-container .svg-celebrate {
  display: block
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}

@keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    filter: brightness(1.5);
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
}
.tag-icon {
  color: #363535; 
  margin-right: 8px; 
  font-size: 1.2em; 
  vertical-align: middle; 
}




